includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8

    paths:
        - src
        - tests

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        # Orchestra Testbench dynamic application bootstrapping uses magic
        - '#Call to an undefined method Orchestra\\Testbench\\TestCase#'
